<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AndrewMaster{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- Подключаем Bootstrap один раз -->
    
</head>
<body class="bg-dark text-white"> <!-- Сделаем фон темным сразу для всех -->

    <nav class="navbar navbar-dark bg-secondary mb-4 shadow">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">AndrewMaster</a>
            <div class="navbar-nav d-flex flex-row">
                <a class="nav-link mx-2" href="/">Домой</a>
                <a class="nav-link mx-2" href="/secret/">Секретка</a>
                <a class="nav-link mx-2" href="/contacts/">Контакты</a>
                <!-- Ищи этот кусок в навигации -->
                <div class="ms-auto">
                    {% if user.is_authenticated %}
                        <!-- ВОТ ЭТУ ССЫЛКУ МЫ ДОБАВЛЯЕМ: -->
                        <a href="/profile/" class="btn btn-outline-warning btn-sm me-2">Мои посты</a>
                        
                        <span class="text-light me-2">Привет, <b>{{ user.username }}</b>!</span>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
                        </form>
                    {% else %}
                        <a href="/signup/" class="btn btn-outline-warning btn-sm me-2">Регистрация</a>
                        <a href="/login/" class="btn btn-outline-light btn-sm">Войти</a>
                    {% endif %}
                </div>
                
                


            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
