<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}AndrewMaster{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <!-- Подключаем Bootstrap один раз -->
    
</head>
<body class="bg-dark text-white"> <!-- Сделаем фон темным сразу для всех -->

    <nav class="navbar navbar-dark bg-secondary mb-4 shadow">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">AndrewMaster</a>
            <div class="navbar-nav d-flex flex-row">
                <a class="nav-link mx-2" href="/">Домой</a>
                <a class="nav-link mx-2" href="/secret/">Секретка</a>
                <a class="nav-link mx-2" href="/contacts/">Контакты</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
