<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body style="background-color: #28a745; color: white; text-align: center; font-family: sans-serif; padding-top: 100px;">
    <h1>Привет, {{ username }}!</h1>
<p>Твой текущий статус: {{ status }}</p>
    <h1>Ура! Теперь это настоящий HTML-файл</h1>
    <p>Мы отделили дизайн от кода Python.</p>
    <a href="/secret/" style="color: yellow; font-size: 20px;">[ ВОЙТИ В СЕКРЕТКУ ]</a>
</body>
</html>