{% extends 'base.html' %}

{% block title %}СЕКРЕТНЫЙ РАЗДЕЛ{% endblock %}

{% block content %}
<div style="background-color: black; color: #ff0000; font-family: 'Courier New', monospace; padding: 100px; height: 100vh; text-align: center;">
    <div style="border: 2px solid #ff0000; display: inline-block; padding: 50px; box-shadow: 0 0 20px #ff0000;">
        <h1>ДОСТУП РАЗРЕШЕН</h1>
        <p>Список текущих операций:</p>
        
        <ul style="text-align: left; display: inline-block; font-size: 20px;">
            {% for p in projects %}
                <li>{{ p }}</li>
            {% endfor %}
        </ul>
        
        <br><br>
        <a href="/" style="color: white; border-bottom: 1px dashed white; text-decoration: none;">Выйти из системы</a>
    </div>
</div>
{% endblock %}